body {
    background-color: rgb(241, 243, 194);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px; 
    font-size: 1vw;
}/* Setting background color of website, establishing fonts to be used, and using margin to get rid of gap between header and top */

#logo {
    margin: 0px; 
    padding: 20px;
    font-size: 3vw;
       /* margin gets rid of gap between header and top */
}


#logopic{
    border-radius: 20px;
}

body > header {
    background-color: rgb(161, 214, 178);
    color: rgb(31, 31, 55);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Setting background color of logo and colour of logo text itself */
}

#nav-ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: row;
    padding:0;
    margin: 0;
    font-size:1.5vw;
}
/* For the top nav bar, spaces out options and removes bullet points */

.navbutton {
    color:rgb(31, 31, 55) ;
    text-decoration: none;
    list-style-type: none;
    padding: 12px;
} /* Changing the colour of the top nav bar text, removing the purple line from visiting the site before, removing BULLET POINTS???? */



body > footer {
    background-color: rgb(232, 184, 109);
    display: flex;
}

.botbox{
    color:rgb(31, 31, 55) ;
    text-decoration: none;
    list-style-type: none;
    padding: 12px;
}


#botname{
    padding:2%;
}

#footer-ul {
    display:flex;
    list-style:none;
    justify-content:space-around;
    align-content:baseline;
    padding:50%;
    font-size:1.5vw;
}


#main-content {
    display: flex;
    justify-content:flex-start;
    gap:5%;
} /* Puts Filter Bar on Side */

#Filterbar{
    background-color:rgb(206, 223, 159) ;
    padding:2%;
    width:10vw;
}


#maintext{
    padding-right:5%;
}

form{
    padding: 2%;
}

#formheader{
    padding-left: 2%;
}

body>main>div>aside>section>nav>ul{
    text-decoration: none;
    list-style-type: style bullet;
}